<!DOCTYPE html>
{% extends 'basic.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Регистрация{% endblock %}</title>

</head>
<body>
    {% block content %}
    {% if user.is_authenticated %}
    <div class="alert alert-primary" role="alert">
        Вы уже вошли в аккаунт
    </div>
    {% else %}
    <form class="bg-light" method="post" action="{% url 'register' %}">
    {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Имя пользователя</label>
    {{ form.username }}
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Адрес электронной почты</label>
    {{ form.email }}
    <div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу электронную почту.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Пароль</label>
    {{ form.password }}
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>

    {% endif %}
    {% endblock %}

</body>
</html>